main::after {
  content: "";
  display: block;
  clear: both;
}

.wp-block-smb-language-switcher {
	$base: &;
	
	&__languages {
		background-color: var(--wp--preset--color--base-2);
		display: flex;
		list-style-type: none;
		padding: var(--wp--preset--spacing--20);
		gap: var(--wp--preset--spacing--20);
		justify-content: space-evenly;
	}
	
	&__language {
		list-style: none;
		
		&__anchor {
			cursor: pointer;
			font-family: var(--wp--preset--font-family--body);
			font-size: var(--wp--preset--font-size--small);
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			gap: var(--wp--preset--spacing--20);
		}
			
		&__flag {
			flex-basis: content;
		}
		
		&__label {
			flex-basis: content;
		}
		
		&--selected {
			background-color: var(--wp--preset--color--base);
			
			.wp-block-smb-language-switcher__language__anchor {
				text-decoration: none;
				cursor: none;
				pointer-events: none;
			}
		}
	}
	
	&--horizontal {
		#{$base}__languages {
			flex-direction: row;
		}
	}
	
	&--vertical {
		#{$base}__languages {
			flex-direction: column;
			justify-content: space-evenly;
		}
	}
}
