/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-smb-language-switcher {
	$base: &;
	padding: 2px;
	
	&__languages {
		background-color: var(--wp--preset--color--base-2);
		display: flex;
		list-style-type: none;
		padding: var(--wp--preset--spacing--20);
		gap: var(--wp--preset--spacing--20);
	}
	
	&__language {
		list-style: none;
		
		a {
			cursor: pointer;
			font-family: var(--wp--preset--font-family--body);
			font-size: var(--wp--preset--font-size--small);
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			gap: var(--wp--preset--spacing--20);
			
			#{$base}__language__flag {
				flex-basis: content;
			}
			
			#{$base}__language__label {
				flex-basis: content;
			}
		}
		
		&--selected {
			background-color: var(--wp--preset--color--base);
			
			a {
				text-decoration: none;
				cursor: none;
				pointer-events: none;
			}
		}
	}
	
	&--horizontal {
		#{$base}__languages {
			flex-direction: row;
			justify-content: space-evenly;
		}
	}
	
	&--vertical {
		#{$base}__languages {
			flex-direction: column;
			justify-content: space-evenly;
		}
	}
	
	&.alignleft, &.alignRight {
		position: sticky;
		inset: var(--wp--preset--spacing--20);
		z-index: 50;
	}
}
